body {
    background-image: url('../assets/graph.png');
}

#card-grid .card-panel .row {
  margin-bottom: 0px;
}

.avatar {
	padding: 0 0 0 0;
}

#maincard {
	margin-top: 1.5rem;
}

nav {
	background-color: #3D95CE;
}

.green-font {
	color: #5cb85c;
}

#search {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 60px;
}

.ct-series-b .ct-slice-donut {
  /* give the donut slice a custom colour */
  stroke: #C7F464 !important;  
  /* customize stroke width of the donut slices in CSS. Note that this property is already set in JavaScript and label positioning also relies on this. In the right situation though it can be very useful to style this property. You need to use !important to override the style attribute */
  stroke-width: 25px !important;
  /* create modern looking rounded donut charts */
  stroke-linecap: round;
}

.ct-series-a .ct-slice-donut {
  /* give the donut slice a custom colour */
  stroke: #FF6B6B !important;  
  /* customize stroke width of the donut slices in CSS. Note that this property is already set in JavaScript and label positioning also relies on this. In the right situation though it can be very useful to style this property. You need to use !important to override the style attribute */
  stroke-width: 25px !important;
  /* create modern looking rounded donut charts */
  stroke-linecap: round;
}