.page-container {
	background-image: url('../assets/lucasfinal.jpg');
	height: 100vh;
	width: 100vw;
	background-size: cover;
}

#login {
	position: absolute;
	top: 30rem;
	left: 20rem;
	background-color: white;
	border-color: #3D95CE;
	border-width: 2px;
	border-style: solid;
	color: #3D95CE;
	border-radius: 5px;
}
